<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"></head>
<body>
<nav th:insert="fragments/nav.html :: nav"></nav>

<div class="container">
    <table class="table table-hover">
        <thead class="font-weight-bold">
            <tr>
                <td>Item</td>
                <td class="text-center">Price per item</td>
                <td class="text-center">Quantity</td>
                <td class="text-center">Total price</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="basketItem : ${basketItems}">
                <td th:text="${basketItem.item.title}">title</td>
                <td class="text-center" th:text="${basketItem.item.price} + ' €'">price</td>
                <td class="text-center" th:text="${basketItem.quantity}">quantity</td>
                <td class="text-center" th:text="${basketItem.quantity * basketItem.item.price} + ' €'">total price</td>
                <td>
                    <form method="post" th:action="@{/basket/delete}">
                        <input type="hidden" th:value="${basketItem.item.sku}" name="sku"/>
                        <input type="submit" class="delete-from-basket" value="Remove item">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>
