<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"></head>
<body>
<nav th:insert="fragments/nav.html :: nav"></nav>

<div class="container">
    <div class="row">
        <div>
            <div>
                <br>
                <h5 style="text-align: right">
                    <a href="/basket" th:href="@{/basket}">
                        <div style="display: inline">Items in basket: </div>
                        <div style="display: inline" class="basket-total" th:text="${basketItemsCount}">count</div>
                    </a>
                </h5>
                <br>
            </div>
            <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4" th:each="item : ${items}">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body" data-th-attr="data-testid=${item.title}">
                                <h4 class="card-title">
                                    <a href="#" class="item-title" th:text="${item.title}">item title</a>
                                </h4>
                                <h5 th:text="${item.price} + ' €'">item price</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                                    numquam aspernatur!</p>
                                <form method="post" th:action="@{/basket}">
                                    <input type="hidden" th:value="${item.sku}" name="sku"/>
                                    <input type="submit" class="add-to-basket" value="Add to basket">
                                </form>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments/footer.html :: footer"></footer>
</body>

</html>
