<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"></head>
<body>
<nav th:insert="fragments/nav.html :: nav"></nav>

<div class="container">
    <form method="post" th:action="@{/signup}">
        <div class="card-body">
            <div class="form-group">
                <label>
                    <input class="form-control" type="text" placeholder="Email" name="email">
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input class="form-control" type="password" placeholder="Password" name="password">
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input class="form-control" type="text" placeholder="Address line 1" name="addressLine1">
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input class="form-control" type="text" placeholder="Address line 2" name="addressLine2">
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input class="form-control" type="text" placeholder="Postcode" name="postcode">
                </label>
            </div>

            <label>
                <button class="btn btn-block btn-bold btn-primary">Sign Up</button>
            </label>
        </div>
    </form>
</div>

<footer th:insert="fragments/footer.html :: footer"></footer>
</body>

</html>
